<div class="md-footer-links md-quick-links">
    <p>Ecosystem</p>
    <p><a href="https://github.com/Venafi/ecosystem-docs/issues/new?template=documentation-feedback.md&labels=documentation&title=Doc+Feedback+for+INSERT+PAGE+TITLE" target="_blank">Found a typo?</a></p>
    <p><a href="https://marketplace.venafi.com" target="_blank">Venafi Marketplace</a></p>
    <p><a href="https://venafi-devfund-app.paperform.co/" target="_blank">Development Fund Application</a></p>
</div>
<div class="md-footer-links md-company-links">
    <p>Company</p>
    <p><a href="https://venafi.com" target="_blank">Venafi Home</a></p>
    <p><a href="https://www.venafi.com/blog" target="_blank">Blog</a></p>
    <p><a href="https://www.venafi.com/community" target="_blank">Community</a></p>
    <p><a href="https://support.venafi.com" target="_blank">Support Center</a></p>
</div>